<%= form_with(model: piece) do |form| %>
  <% if piece.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(piece.errors.count, "error") %> prohibited this piece from being saved:</h2>

      <ul>
        <% piece.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :composer, style: "display: block" %>
    <%= form.text_field :composer %>
  </div>

  <div>
    <%= form.label :concert_id, style: "display: block" %>
    <%= form.number_field :concert_id %>
  </div>

  <div>
    <%= form.label :length, style: "display: block" %>
    <%= form.number_field :length %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
