<div id="<%= dom_id piece %>">
  <p>
    <strong>Title:</strong>
    <%= piece.title %>
  </p>

  <p>
    <strong>Composer:</strong>
    <%= piece.composer %>
  </p>

  <p>
    <strong>Concert:</strong>
    <%= piece.concert_id %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= piece.length %>
  </p>

</div>
